In [1]:
import pandas as pd

install
1. pyarrow
2. folktables

# taxi

In [2]:
yellow_data = pd.read_parquet('taxi/yellow_tripdata_2018-01.parquet', engine='pyarrow')
green_data = pd.read_parquet('taxi/green_tripdata_2018-01.parquet', engine='pyarrow')
fhv_data = pd.read_parquet('taxi/fhv_tripdata_2018-01.parquet', engine='pyarrow')

In [3]:
yellow_data['duration'] = (yellow_data['tpep_dropoff_datetime'] - yellow_data['tpep_pickup_datetime']).dt.total_seconds()
green_data['duration'] = (green_data['lpep_dropoff_datetime'] - green_data['lpep_pickup_datetime']).dt.total_seconds()
fhv_data['duration'] = (fhv_data['dropOff_datetime'] - fhv_data['pickup_datetime']).dt.total_seconds()

In [12]:
green_data_np = green_data['duration'].to_numpy()

In [20]:
green_data_clipped = green_data_np[green_data_np<86400]

In [22]:
green_data_clipped.shape[0]

792743

# income

In [3]:
from folktables import ACSDataSource, ACSIncome

state_list = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI',
              'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI',
              'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC',
              'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT',
              'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR']

data_source = ACSDataSource(survey_year='2018', horizon='1-Year', survey='person', root_dir="data")
acs_data = data_source.get_data(states=state_list, download=True)

In [11]:
income = acs_data['PINCP']
min(income),max(income)
# PINCP      7      
# Total person's income (signed)
#                 bbbbbbb .N/A (less than 15 years old)
#                 0000000 .None
#                 -019999 .Loss of $19999 or more (Rounded & bottom-coded 
#                         .components) 
#        -000001..-019998 .Loss $1 to $19998 (Rounded components)
#                 0000001 .$1 or break even
#        0000002..9999999 .$2 to $9999999 (Rounded & top-coded components)

(-11200.0, 1423000.0)

In [39]:
clipped_data = income[income<524288]
clipped_data = clipped_data[clipped_data>=0]

In [40]:
clipped_data.size

2689888

# retirement

In [24]:
data = pd.read_csv('retirement/employee-compensation.csv')

In [25]:
data.keys()

Index(['Organization Group Code', 'Job Family Code', 'Job Code', 'Year Type',
       'Year', 'Organization Group', 'Department Code', 'Department',
       'Union Code', 'Union', 'Job Family', 'Job', 'Employee Identifier',
       'Salaries', 'Overtime', 'Other Salaries', 'Total Salary', 'Retirement',
       'Health and Dental', 'Other Benefits', 'Total Benefits',
       'Total Compensation'],
      dtype='object')

In [34]:
y = data['Retirement'].to_numpy()
y = y[y<60000]
y = y[y>=0]

In [35]:
min(y)

0.0

In [36]:
max(y)

59977.07

In [37]:
y.shape

(682410,)